<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275124915852-dhqreckj6cvcbg2aoeberru2kb98mmjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275124915852-dhqreckj6cvcbg2aoeberru2kb98mmjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDvAn0LITUCiY-i_jTYJKOLBcpvqnz68vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>275124915852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.DoughToBread</string>
	<key>PROJECT_ID</key>
	<string>doughtobreadapp</string>
	<key>STORAGE_BUCKET</key>
	<string>doughtobreadapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275124915852:ios:5e7fa6f46f8ae7b07535a9</string>
</dict>
</plist>